// def
.container {
    max-width: 80%;
    margin: 0 auto;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://via.placeholder.com/150');
  background-size: cover;
}

// start style nav
nav {
    ul {
        margin: 0;
        display: flex;
        padding: 15px 0;
        list-style: none;
        justify-content: space-between;
        li button {
            border: none;
            padding: 5px;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            background-color: #1f6ebd;
        }
    }
}
// end style nav
