<!-- start nav -->
<nav>
    <div class="container">
        <ul>
            <li><button >Home Page</button></li>
            <li><button (click)="logOut()">log out</button></li>
        </ul>
    </div>
</nav>
<!-- end nav -->

<!-- start list Categories -->
<div class="list">
    <div class="container">
        <mat-card *ngFor="let Category of Categories" class="example-card" [ngStyle]="{'margin': '30px auto'}">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{Category.name}}</mat-card-title>
                <mat-card-subtitle>#{{Category.id}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://pbs.twimg.com/profile_images/823569976342773760/c2RLAG7h_400x400.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                   {{Category.description}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<!-- end list Categories -->