// def
.container {
    max-width: 80%;
    margin: 0 auto;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://via.placeholder.com/150');
  background-size: cover;
}

.box_note {
  top: 70px;
  left: -100%;
  width: 315px;
  padding: 15px;
  color: #ffff;
  font-weight: 500;
  position: absolute;
  background: #1f6ebd;
  transition: all 1s ease-in-out;
  box-shadow: 5px 8px 6px #4040407a;
  &.push {
    left: 15px;    
  }
}

// start style nav
nav {
    ul {
        margin: 0;
        display: flex;
        padding: 15px 0;
        list-style: none;
        justify-content: space-between;
        li button {
            border: none;
            padding: 5px;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            background-color: #1f6ebd;
        }
    }
}
// end style nav
