
/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

// global vars
$white: #fff;
$main_color: #28d;
$main_color_2: #17c;
$main_color_3: #05a;


// start style section login
.sing_up {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    .hr {
        width: 100%;
        color: #fff;
        display: block;
        padding: 10px 0;
        text-align: center;
        background: #2288dd82;
        text-transform: uppercase;        
    }
    .sing_up-triangle {
        width: 0;
        margin-right: auto;
        margin-left: auto;
        border: 12px solid transparent;
        // use var sass
        border-bottom-color: $main_color;
    }  
    .sing_up-header {
        // use var sass
        padding: 20px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.4em;
        text-align: center;
        font-weight: normal;
        // use var sass
        background:$main_color;
        text-transform: uppercase;
        a {
            color: $white;
            display: block;
            cursor: pointer;
            text-decoration: none;
        }
    } 
    .sing_up-container {
        padding: 12px;
        background: #ebebeb;
        .wrap {
            padding: 12px;
            input, select {
                outline: 0;
                width: 100%;
                padding: 16px;
                display: block;
                border-width: 1px;
                font-size: 0.95em;
                border-style: solid;
                font-family: inherit;
                color: #555;
                // use var sass
                background: $white;
                border-color: #bbb;
                &:focus {
                    border-color: #888;
                }
            }            
        }
    }
}
// end style section login